<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Manejo de alumnos</title>
  </head>
  <body>
    <div id="app">
      <div class="container">
        <br />

        <div class="row">
          <div class="col-6">
            <div class="card">
              <div class="card-header">Agregar alummo</div>
              <div class="card-body">
                <form @submit.prevent="crearAlumno">
                  Nombre:
                  <input
                    type="text"
                    class="form-control"
                    v-model="nuevoAlumno.nombres"
                    name="nombres"
                    id="nombres"
                    required
                  />
                  Apellido:
                  <input
                    type="text"
                    class="form-control"
                    v-model="nuevoAlumno.apellidos"
                    name="apellidos"
                    id="apellidos"
                    required
                  />
                  <button class="btn btn-success" type="submit">
                    Agregar alumno
                  </button>
                </form>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="card">
              <div class="card-header">Alumnos en la base de datos:</div>
              <div class="card-body">
                <ul class="list-group">
                  <li
                    class="list-group-item d-flex align-items-center"
                    v-for="alumno in alumnos"
                    :key="alumno.id"
                  >
                    <button
                      class="btn btn-danger btn-sm"
                      @click="eliminarAlumno(alumno.id)"
                    >
                      Eliminar
                    </button>
                    &nbsp; &nbsp; {{alumno.nombres}} - {{alumno.apellidos}}
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      const { createApp, ref, onMounted } = Vue;
      const apiUrl = "http://localhost:8000/";
      const app = createApp({
        setup() {
          const alumnos = ref([]);
          const nuevoAlumno = ref({ nombres: "", apellidos: "" });
          const obtenerAlumnos = async () => {
            const res = await axios.get(apiUrl);
            alumnos.value = res.data;
          };
          const crearAlumno = async () => {
            try {
              const res = await axios.post(apiUrl, nuevoAlumno.value);
              alumnos.value.push(res.data);
              nuevoAlumno.value = { nombres: "", apellidos: "" };
              obtenerAlumnos();
            } catch (error) {
              console.log("Error al crear alumno", error);
            }
          };
          const eliminarAlumno = async (id) => {
            await axios.delete(`${apiUrl}${id}`);
            obtenerAlumnos();
          };
          onMounted(() => {
            obtenerAlumnos();
          });
          return { alumnos, crearAlumno, nuevoAlumno, eliminarAlumno };
        },
      });
      app.mount("#app");
    </script>
  </body>
</html>
